PORT="port_number"
ENVIRONMENT="environment"
REDIS_URI="redis_uri"
WHATSAPP_WEBHOOK_VERIFICATION_TOKEN="whatsapp_webhook_verification_token"
WHATSAPP_USER_ACCESS_TOKEN="whatsapp_user_access_token"
WHATSAPP_MESSAGING_API_URL="whatsapp_messaging_api_url"
WHATSAPP_BUSINESS_ACCOUNT_ID="whatsapp_business_account_id"
GEMINI_API_KEY="gemini_api_key"
BACKEND_SERVICE_API_KEY="backend_service_api_key"
BACKEND_SERVICE_URL="backend_service_url"